<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Authorization</title>
</head>
<body>
  <form name="f" method="post" action="/process_login">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username">
    <br/><br/>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
    <div th:if="${param.error}" style="color: red">
      Incorrect name or password
    </div>
    <br/>
    <br/>
    <input type="submit" value="Log in to your account" class="submit">
    <a href="/auth/registration">Register</a>
  </form>
</body>
</html>